<!DOCTYPE html>
<html>

<head>
  <title>I CAN GET A JOB</title>
  <link href="static/css/index.css" rel="stylesheet"></link>
  <script src="https://kit.fontawesome.com/26e6ee62b5.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <!-- <img src="./templates/banner.gif"> -->
    <h1><a href='/'>I CAN GET A JOB</a></h1>
  </header>
  <main>
    <form action='view'>
      <input type="text" name="wannajob" id="wannajob" placeholder="Job you want to find">
      <input type="submit" value='&#xf002'>
    </form>
    <div>
      This website's data from Stack Overflow, Remote Ok, We Work Remotely.<br>
      more info : <a href="https://github.com/hopoduck/job_scrapper" target="_blank">@hopoduck</a>
    </div>
  </main>
</body>

</html>